// base colors

    $headerColor:#000;

        $bodyColor: #000;

            $titleColor: #000;

                $labelColor: #000;

    $h1Color:#000;
        $h2Color:#000;
            $h3Color:#000;

// footer colors

    $mainFootercolor: #000;

        $navFooterColor: #000;


// buttons

    // text colors
    $mainButtonTextColor: #000;
        $mainButtonTextHoverColor:  #333;
        
    // background colors
    $mainButtonBgColor: #999;
        $mainButtonBgHoverColor:    #888;