html{
    font-size: 100%;
}

body{
    font-family: Arial sans-serif;
    color: #000;
    font-size: 1rem;
}

.wrapper{
}

.container{
    max-width: 1420px;
    padding: 0 10px;
}

h1{
    font-weight: 400;
    font-size: 2.2rem;
}